<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Project emblocks_ix="1.0.0" name="{{name}}">
    <Target name="{{name}}" target="{{target}}">
        <Source name="mbed.org" version="1.0.0">
            <Toolchain name="{{toolchain}}"/>
            <CC>
                {% for s in cc_org %}<Switch name="{{s}}"/>
                {% endfor %}
            </CC>
            <CPPC>
                {% for s in cppc_org %}<Switch name="{{s}}"/>
                {% endfor %}
            </CPPC>
            <Symbols>
                {% for s in symbols %}<Symbol name="{{s}}"/>
                {% endfor %}
            </Symbols>
            <LD>
                {% for s in ld_org %}<Switch name="{{s}}"/>
                {% endfor %}
            </LD>
            <Addobjects>
                {% for s in object_files %}<Addobject name="{{s}}"/>
                {% endfor %}
            </Addobjects>
            <Syslibs>
                {% for s in sys_libs %}<Library name="{{s}}"/>
                {% endfor %}
            </Syslibs>
            <Scriptfile path="{{script_file}}"/>
        </Source>
        <Assembler>
        </Assembler>
        <Compiler>
            <Includepaths>
                {% for s in include_paths %}<Includepath path="{{s}}"/>
                {% endfor %}
            </Includepaths>
            <Symbols>
            </Symbols>
        </Compiler>
        <Linker>
            <Libraries>
                {% for s in libraries %}<Library name="{{s}}"/>
                {% endfor %}
            </Libraries>
            <Librarypaths>
                {% for s in library_paths %}<Librarypath path="{{s}}"/>
                {% endfor %}
            </Librarypaths>
        </Linker>
        <Files>
            {% for f in source_files %}<File  name="{{f.name}}" type="{{f.type}}"/>
            {% endfor %}
        </Files>
    </Target>
</Project>
