.dep
*.o
*.eep
*.elf
*.hex
!util/bootloader.hex
!quantum/tools/eeprom_reset.hex
*.log
*.lss
*.lst
*.map
*.sym
*.swp
tags
*~
build/
.build/
*.bak
.vagrant/
.idea/
CMakeLists.txt
.DS_STORE

# Eclipse/PyCharm/Other IDE Settings
.cproject
.project
.settings/
.idea
