# auto for anything unspecified
* text=auto

# sources
*.c      text eol=lf
*.cc     text eol=lf
*.cxx    text eol=lf
*.cpp    text eol=lf
*.c++    text eol=lf
*.hpp    text eol=lf
*.h      text eol=lf
*.h++    text eol=lf
*.hh     text eol=lf
*.bat    text eol=crlf
*.cmd    text eol=crlf
*.coffee text eol=lf
*.css    text eol=lf
*.htm    text eol=lf
*.html   text eol=lf
*.inc    text eol=lf
*.ini    text eol=crlf
*.js     text eol=lf
*.jsx    text eol=lf
*.json   text eol=lf
*.less   text eol=lf
*.php    text eol=lf
*.pl     text eol=lf
*.py     text eol=lf
*.rb     text eol=lf
*.sass   text eol=lf
*.scm    text eol=lf
*.scss   text eol=lf
*.sh     text eol=lf
*.sql    text eol=lf
*.styl   text eol=lf
*.ts     text eol=lf
*.xml    text eol=lf
*.xhtml  text eol=lf

# make files (need to always use lf for compatibility with Windows 10 bash)
Makefile eol=lf
*.mk     eol=lf

# make files (need to always use lf for compatibility with Windows 10 bash)
*.sh eol=lf

# documentation
*.markdown   text eol=lf
*.md         text eol=lf
*.mdwn       text eol=lf
*.mdown      text eol=lf
*.mkd        text eol=lf
*.mkdn       text eol=lf
*.mdtxt      text eol=lf
*.mdtext     text eol=lf
*.txt        text eol=lf
AUTHORS      text eol=lf
CHANGELOG    text eol=lf
CHANGES      text eol=lf
CONTRIBUTING text eol=lf
COPYING      text eol=lf
INSTALL      text eol=lf
license      text eol=lf
LICENSE      text eol=lf
NEWS         text eol=lf
readme       text eol=lf
*README*     text eol=lf
TODO         text eol=lf

GRAPHICS
*.ai   binary
*.bmp  binary
*.eps  binary
*.gif  binary
*.ico  binary
*.jng  binary
*.jp2  binary
*.jpg  binary
*.jpeg binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.png  binary
*.psb  binary
*.psd  binary
*.svg  text eol=lf
*.svgz binary
*.tif  binary
*.tiff binary
*.wbmp binary
*.webp binary

# hex files
*.hex binary
*.eep binary
nix/sources.nix linguist-generated=true
