# auto for anything unspecified
* text=auto

# sources
*.c text
*.cc text
*.cxx text
*.cpp text
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text
*.bat    text
*.coffee text
*.css    text
*.htm    text
*.html   text
*.inc    text
*.ini    text
*.js     text
*.jsx    text
*.json   text
*.less   text
*.php    text
*.pl     text
*.py     text
*.rb     text
*.sass   text
*.scm    text
*.scss   text
*.sh     text
*.sql    text
*.styl   text
*.ts     text
*.xml    text
*.xhtml  text

# make files (need to always use lf for compatibility with Windows 10 bash)
Makefile eol=lf
*.mk eol=lf

# make files (need to always use lf for compatibility with Windows 10 bash)
*.sh eol=lf

# documentation
*.markdown   text
*.md         text
*.mdwn       text
*.mdown      text
*.mkd        text
*.mkdn       text
*.mdtxt      text
*.mdtext     text
*.txt        text
AUTHORS      text
CHANGELOG    text
CHANGES      text
CONTRIBUTING text
COPYING      text
INSTALL      text
license      text
LICENSE      text
NEWS         text
readme       text
*README*     text
TODO         text

GRAPHICS
*.ai   binary
*.bmp  binary
*.eps  binary
*.gif  binary
*.ico  binary
*.jng  binary
*.jp2  binary
*.jpg  binary
*.jpeg binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.png  binary
*.psb  binary
*.psd  binary
*.svg  text
*.svgz binary
*.tif  binary
*.tiff binary
*.wbmp binary
*.webp binary

# hex files
*.hex binary
*.eep binary
nix/sources.nix linguist-generated=true
