[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/ChibiOS/ChibiOS-Contrib.git
[submodule "lib/ugfx"]
	path = lib/ugfx
	url = https://bitbucket.org/Tectu/ugfx
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
