*.py[cod]

# Distribution dir
dist

# MANIFEST file
MANIFEST

# Private settings
private_settings.py

# Default Build Directory
build/

# Eclipse Project Files
.cproject
.project
.pydevproject

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

output.txt
uVision Project/

# Sublime Text Project Files
*.sublime*

*.bak
debug.log

# Ignore OS X Desktop Services Store files
.DS_Store

# Orig diff files
*.orig

# PyCharm
*.idea

# Cscope
cscope.*

# vim swap files
*.swp

