/* Override <kbd> as vitepress doesn't put them with borders */
kbd {
    border: 1px solid var(--vp-c-text-1);
    border-radius: 0.6em;
    margin: 0.2em;
    padding: 0.2em;
}

:root {
    --vp-nav-logo-height: 100%;
}

.logo {
    padding-bottom: 0.2em;
}

.VPNavBarTitle.has-sidebar .title {
    border-bottom: 0;
}
