# mchack openocd
# https://github.com/mchck/mchck/wiki/Openocd
#
# adapter: frdm-kl05z with cmsis-dap firmware
# inteface: cmsis-dap
# transport: hla_swd
# target: MK20DX128VLF5 Freescale Kinetis

# adapter/interface
source [find interface/cmsis-dap.cfg]

# CPU
source [find k20dx32_flash.cfg]
