<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Project version="2G - 1.7.5" name="{{name}}">
  <Target name="Release" isCurrent="1">
    <Device manufacturerId="9" manufacturerName="ST" chipId="257" chipName="STM32F100RB" boardId="" boardName=""/>
    <BuildOption>
      <Compile>
        <Option name="OptimizationLevel" value="4"/>
        <Option name="UseFPU" value="0"/>
        <Option name="UserEditCompiler" value="-fno-common; -fmessage-length=0; -Wall; -fno-strict-aliasing; -fno-rtti; -fno-exceptions; -ffunction-sections; -fdata-sections; -std=gnu++98"/>
        <Option name="FPU" value="1"/>
        <Option name="SupportCPlusplus" value="1"/>
        <Includepaths>
          {% for path in include_paths %} <Includepath path="{{path}}"/> {% endfor %}
        </Includepaths>
        <DefinedSymbols>
          {% for s in symbols %} <Define name="{{s}}"/> {% endfor %}
        </DefinedSymbols>
      </Compile>
      <Link useDefault="0">
        <Option name="DiscardUnusedSection" value="1"/>
        <Option name="UserEditLinkder" value=""/>
        <Option name="UseMemoryLayout" value="0"/>
        <Option name="LTO" value="0"/>
        <Option name="IsNewStartupCode" value="1"/>
        <Option name="Library" value="Not use C Library"/>
        <Option name="nostartfiles" value="0"/>
        <Option name="UserEditLinker" value="-Wl,--wrap,main; --specs=nano.specs; -u _printf_float; -u _scanf_float; {% for file in object_files %}
        ${project.path}/{{file}}; {% endfor %} {% for p in library_paths %}-L${project.path}/{{p}}; {% endfor %}"/>
        <LinkedLibraries>
          {% for lib in libraries %}
          <Libset dir="" libs="{{lib}}"/>
          {% endfor %}
          <Libset dir="" libs="stdc++"/>
          <Libset dir="" libs="supc++"/>
          <Libset dir="" libs="m"/>
          <Libset dir="" libs="gcc"/>
          <Libset dir="" libs="c"/>
          <Libset dir="" libs="nosys"/>
        </LinkedLibraries>
        <MemoryAreas debugInFlashNotRAM="1">
          <Memory name="IROM1" type="ReadOnly" size="0x00020000" startValue="0x08000000"/>
          <Memory name="IRAM1" type="ReadWrite" size="0x00001E30" startValue="0x200001D0"/>
          <Memory name="IROM2" type="ReadOnly" size="" startValue=""/>
          <Memory name="IRAM2" type="ReadWrite" size="" startValue=""/>
        </MemoryAreas>
        <LocateLinkFile path="{{scatter_file}}" type="0"/>
      </Link>
      <Output>
        <Option name="OutputFileType" value="0"/>
        <Option name="Path" value="./"/>
        <Option name="Name" value="{{name}}"/>
        <Option name="HEX" value="1"/>
        <Option name="BIN" value="1"/>
      </Output>
      <User>
        <UserRun name="Run#1" type="Before" checked="0" value=""/>
        <UserRun name="Run#1" type="After" checked="0" value=""/>
      </User>
    </BuildOption>
    <DebugOption>
      <Option name="org.coocox.codebugger.gdbjtag.core.adapter" value="ST-Link"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.debugMode" value="SWD"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.clockDiv" value="1M"/>
      <Option name="org.coocox.codebugger.gdbjtag.corerunToMain" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkgdbserver" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.userDefineGDBScript" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.targetEndianess" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkResetMode" value="Type 0: Normal"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.resetMode" value="SYSRESETREQ"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifSemihost" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifCacheRom" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ipAddress" value="127.0.0.1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.portNumber" value="2009"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.autoDownload" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.verify" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.downloadFuction" value="Erase Effected"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.defaultAlgorithm" value="./stm32f10x_md_128.elf"/>
    </DebugOption>
    <ExcludeFile/>
  </Target>
  <Target name="Debug" isCurrent="0">
    <Device manufacturerId="9" manufacturerName="ST" chipId="257" chipName="STM32F100RB" boardId="" boardName=""/>
    <BuildOption>
      <Compile>
        <Option name="OptimizationLevel" value="0"/>
        <Option name="UseFPU" value="0"/>
        <Option name="UserEditCompiler" value="-fno-common; -fmessage-length=0; -Wall; -fno-strict-aliasing; -fno-rtti; -fno-exceptions; -ffunction-sections; -fdata-sections; -std=gnu++98"/>
        <Option name="FPU" value="1"/>
        <Option name="SupportCPlusplus" value="1"/>
        <Includepaths>
          {% for path in include_paths %} <Includepath path="{{path}}"/> {% endfor %}
        </Includepaths>
        <DefinedSymbols>
          {% for s in symbols %} <Define name="{{s}}"/> {% endfor %}
        </DefinedSymbols>
      </Compile>
      <Link useDefault="0">
        <Option name="DiscardUnusedSection" value="1"/>
        <Option name="UserEditLinkder" value=""/>
        <Option name="UseMemoryLayout" value="0"/>
        <Option name="LTO" value="0"/>
        <Option name="IsNewStartupCode" value="1"/>
        <Option name="Library" value="Not use C Library"/>
        <Option name="nostartfiles" value="0"/>
        <Option name="UserEditLinker" value="-Wl,--wrap,main; --specs=nano.specs; -u _printf_float; -u _scanf_float; {% for file in object_files %}
        ${project.path}/{{file}}; {% endfor %} {% for p in library_paths %}-L${project.path}/{{p}}; {% endfor %}"/>
        <LinkedLibraries>
          {% for lib in libraries %}
          <Libset dir="" libs="{{lib}}"/>
          {% endfor %}
          <Libset dir="" libs="stdc++"/>
          <Libset dir="" libs="supc++"/>
          <Libset dir="" libs="m"/>
          <Libset dir="" libs="gcc"/>
          <Libset dir="" libs="c"/>
          <Libset dir="" libs="nosys"/>
        </LinkedLibraries>
        <MemoryAreas debugInFlashNotRAM="1">
          <Memory name="IROM1" type="ReadOnly" size="0x00020000" startValue="0x08000000"/>
          <Memory name="IRAM1" type="ReadWrite" size="0x00001E30" startValue="0x200001D0"/>
          <Memory name="IROM2" type="ReadOnly" size="" startValue=""/>
          <Memory name="IRAM2" type="ReadWrite" size="" startValue=""/>
        </MemoryAreas>
        <LocateLinkFile path="{{scatter_file}}" type="0"/>
      </Link>
      <Output>
        <Option name="OutputFileType" value="0"/>
        <Option name="Path" value="./"/>
        <Option name="Name" value="{{name}}"/>
        <Option name="HEX" value="1"/>
        <Option name="BIN" value="1"/>
      </Output>
      <User>
        <UserRun name="Run#1" type="Before" checked="0" value=""/>
        <UserRun name="Run#1" type="After" checked="0" value=""/>
      </User>
    </BuildOption>
    <DebugOption>
      <Option name="org.coocox.codebugger.gdbjtag.core.adapter" value="ST-Link"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.debugMode" value="SWD"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.clockDiv" value="1M"/>
      <Option name="org.coocox.codebugger.gdbjtag.corerunToMain" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkgdbserver" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.userDefineGDBScript" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.targetEndianess" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkResetMode" value="Type 0: Normal"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.resetMode" value="SYSRESETREQ"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifSemihost" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifCacheRom" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ipAddress" value="127.0.0.1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.portNumber" value="2009"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.autoDownload" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.verify" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.downloadFuction" value="Erase Effected"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.defaultAlgorithm" value="./stm32f10x_md_128.elf"/>
    </DebugOption>
    <ExcludeFile/>
  </Target>
  <Components path="./"/>
  <Files>
    {% for file in source_files %}
    <File name="sources/{{file.path}}" path="{{file.path}}" type="{{file.type}}"/>
    {% endfor %}
    {% for file in header_files %}
    <File name="headers/{{file.path}}" path="{{file.path}}" type="{{file.type}}"/>
    {% endfor %}
  </Files>
</Project>
