<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>【</string>
		<key>shortcut</key>
		<string>なぎかっこひ1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>】</string>
		<key>shortcut</key>
		<string>なぎかっこみ1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〈</string>
		<key>shortcut</key>
		<string>なぎかっこひ2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〉</string>
		<key>shortcut</key>
		<string>なぎかっこみ2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>「</string>
		<key>shortcut</key>
		<string>なぎかっこひ3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>」</string>
		<key>shortcut</key>
		<string>なぎかっこみ3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>『</string>
		<key>shortcut</key>
		<string>なぎかっこひ4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>』</string>
		<key>shortcut</key>
		<string>なぎかっこみ4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>《</string>
		<key>shortcut</key>
		<string>なぎかっこひ5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>》</string>
		<key>shortcut</key>
		<string>なぎかっこみ5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（</string>
		<key>shortcut</key>
		<string>なぎかっこひ6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>）</string>
		<key>shortcut</key>
		<string>なぎかっこみ6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>○</string>
		<key>shortcut</key>
		<string>なぎまる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>　　　×　　　×　　　×</string>
		<key>shortcut</key>
		<string>なぎばつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>・</string>
		<key>shortcut</key>
		<string>なぎちゅうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｜</string>
		<key>shortcut</key>
		<string>なぎたてせん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>／</string>
		<key>shortcut</key>
		<string>なぎななめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>……</string>
		<key>shortcut</key>
		<string>なぎてんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>──</string>
		<key>shortcut</key>
		<string>なぎせんせん</string>
	</dict>
</array>
</plist>
