
* {
    text-shadow: none !important;
    color: #000 !important; // Black prints faster: h5bp.com/s
    background: transparent !important;
    box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-before: auto;
}

pre, blockquote {
    border: 1px solid #999;
    font-style: italic;
    page-break-inside: avoid;
}

img {
    page-break-inside: avoid;
    border: 0; /* Some browsers like to show a border around images. Switch it off */
}

a,
a:visited { text-decoration: underline; }

abbr[title]:after { content: " (" attr(title) ")"; }

q {
    quotes: none;

    &:before { content: ""; }

    &:after { content: " (" attr(cite) ")"; }
}

.PageBreak {
    display: block;
    page-break-before: always;
}

.NoPrint { display: none; }

/* Hide the navigation */
aside { display: none; }

.Pager { display: none; }

.Columns__right {
    width: 100% !important;
}

.s-content a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
    word-wrap: break-word; /* break long urls that donìt fit the page width */
}

/* Anchors don't need that */
.s-content a[href^="#"]:after { content: ""; }

h1 a[href]:after {
    font-size: 50%;
}
