/*!
 * DAUX.IO
 * https://dauxio.github.io/
 * MIT License
 */

// Daux Style
@import "vendor/normalize.scss";
@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";

// Layout
@import "_structure.scss";

// Content presentation
@import "_typography.scss";
@import "_components.scss";
@import "_homepage.scss";
@import "vendor/highlight.scss";

@media print {
    @import "_print.scss";
}
