{{ constants.GPL2_HEADER_C_LIKE }}
{{ constants.GENERATED_HEADER_C_LIKE }}

////////////////////////////////////////////////////////////////////////////////
// Full XAP {{ xap.version }} definitions

#if 0
{{ xap | tojson(4) }}
#endif
