<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>【</string>
		<key>shortcut</key>
		<string>なぎかっこひあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>】</string>
		<key>shortcut</key>
		<string>なぎかっこみあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〈</string>
		<key>shortcut</key>
		<string>なぎかっこひい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〉</string>
		<key>shortcut</key>
		<string>なぎかっこみい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>「</string>
		<key>shortcut</key>
		<string>なぎかっこひう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>」</string>
		<key>shortcut</key>
		<string>なぎかっこみう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>『</string>
		<key>shortcut</key>
		<string>なぎかっこひえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>』</string>
		<key>shortcut</key>
		<string>なぎかっこみえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>《</string>
		<key>shortcut</key>
		<string>なぎかっこひお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>》</string>
		<key>shortcut</key>
		<string>なぎかっこみお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（</string>
		<key>shortcut</key>
		<string>なぎかっこひか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>）</string>
		<key>shortcut</key>
		<string>なぎかっこみか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>○</string>
		<key>shortcut</key>
		<string>なぎまる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>　　　×　　　×　　　×</string>
		<key>shortcut</key>
		<string>なぎばつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>・</string>
		<key>shortcut</key>
		<string>なぎちゅうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｜</string>
		<key>shortcut</key>
		<string>なぎたてせん</string>
	</dict>
  <dict>
		<key>phrase</key>
		<string>││</string>
		<key>shortcut</key>
		<string>なぎたてせんい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>／</string>
		<key>shortcut</key>
		<string>なぎななめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>……</string>
		<key>shortcut</key>
		<string>なぎてんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>──</string>
		<key>shortcut</key>
		<string>なぎせんせん</string>
	</dict>
</array>
</plist>
