.sidebar-toggle {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
}

.search {
  margin-top: 40px;
}

.markdown-section h2 {
  padding-top: 0.25rem;
}

.markdown-section h3 {
  margin-top: 0.25rem;
}

.sidebar, .sidebar-nav {
  line-height: 1.5em !important;
}

.markdown-section ul ul {
  margin: 0;
}

.markdown-section pre {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .flex-container {
    display:flex;
    flex-flow:row;
  }
  .flex-container > p {
    flex-basis: 100%;
    flex: 1;
    margin: 1em 2em 1em 2em;
  }
}

.docsify-tabs__tab:focus {
  outline: none !important;
}

.docsify-tabs__content .anchor {
  transition: none;
}

:root {
  --docsifytabs-border-color: #ddd;
  --docsifytabs-tab-highlight-color: var(--theme-color, #0074d9);

  --docsifytabs-tab-background: #f8f8f8;
  --docsifytabs-tab-background-active: transparent;
}
