# BOOTLOADER = {ARCH} : {MCU} : {BOARD} : {FLASH SIZE KB} : {BOOT SIZE KB} :

# ------------ CDC Bootloader -------------
CDC = avr8 : at90usb1287 : NONE : 128 : 8 :
CDC = avr8 : at90usb647 : NONE : 64 : 4 :
CDC = avr8 : at90usb1286 : NONE : 128 : 8 :
CDC = avr8 : at90usb646 : NONE : 64 : 4 :
CDC = avr8 : atmega32u4 : NONE : 32 : 4 :
CDC = avr8 : atmega16u4 : NONE : 16 : 4 :
CDC = avr8 : atmega32u2 : NONE : 32 : 4 :
CDC = avr8 : atmega16u2 : NONE : 16 : 4 :
CDC = avr8 : atmega8u2 : NONE : 8 : 4 :
CDC = avr8 : at90usb162 : NONE : 16 : 4 :
CDC = avr8 : at90usb82 : NONE : 8 : 4 :

# ------------ DFU Bootloader -------------
DFU = avr8 : at90usb1287 : NONE : 128 : 8 :
DFU = avr8 : at90usb647 : NONE : 64 : 4 :
DFU = avr8 : at90usb1286 : NONE : 128 : 8 :
DFU = avr8 : at90usb646 : NONE : 64 : 4 :
DFU = avr8 : atmega32u6 : NONE : 32 : 4 :
DFU = avr8 : atmega32u4 : NONE : 32 : 4 :
DFU = avr8 : atmega16u4 : NONE : 16 : 4 :
DFU = avr8 : atmega32u2 : NONE : 32 : 4 :
DFU = avr8 : atmega16u2 : NONE : 16 : 4 :
DFU = avr8 : atmega8u2 : NONE : 8 : 4 :
DFU = avr8 : at90usb162 : NONE : 16 : 4 :
DFU = avr8 : at90usb82 : NONE : 8 : 4 :

# ------------ HID Bootloader -------------
HID = avr8 : at90usb1287 : NONE : 128 : 4 :
HID = avr8 : at90usb647 : NONE : 64 : 4 :
HID = avr8 : at90usb1286 : NONE : 128 : 4 :
HID = avr8 : at90usb646 : NONE : 64 : 4 :
HID = avr8 : atmega32u6 : NONE : 32 : 4 :
HID = avr8 : atmega32u4 : NONE : 32 : 4 :
HID = avr8 : atmega16u4 : NONE : 16 : 4 :
HID = avr8 : atmega32u2 : NONE : 32 : 2 :
HID = avr8 : atmega16u2 : NONE : 16 : 2 :
HID = avr8 : atmega8u2 : NONE : 8 : 2 :
HID = avr8 : at90usb162 : NONE : 16 : 2 :
HID = avr8 : at90usb82 : NONE : 8 : 2 :
