name: Update develop after master merge

on:
  push:
    branches:
    - master

jobs:
  develop_update:
    runs-on: ubuntu-latest

    if: github.repository == 'qmk/qmk_firmware'

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Checkout develop
      run: |
        git fetch origin master develop
        git checkout develop

    - name: Update develop from master
      run: |
        git config --global user.name "QMK Bot"
        git config --global user.email "hello@qmk.fm"
        git merge origin/master
        git push origin develop
