name: Build my QMK configuration

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  build-qmk:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: d3adb5/build-qmk-fw@v1
        with:
          keyboard: aahil/CYBR-X
          keymap: default
          controller: rp2040
          local-keymap-path: keymaps/default
          output-dir: qmk-firmware-to-be-flashed

      - uses: actions/upload-artifact@v4
        with:
          name: built-images
          path: qmk-firmware-to-be-flashed
